/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Shared Styles */

.red-color{
    color: #FF0000;
}

.black-color{
    color: #070211;
}


/* First Container styles */

.first{
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    margin: 50px 140px 0px 140px;
    border-radius: 16px;
}


.first-container{
    display: flex;
    flex-direction: column;
    width: 632px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-title{
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.first-sub-title{
    margin-top: 0px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
}

/* Second Container styles */

.second{
    display: flex;
    flex-direction: column;
    max-width: 803px;
    height: 806px;
    justify-content: center;
    align-items: center;
    margin: 120px 399px 0px 399px;
}

.second-container{
    display: flex;
    flex-direction: column;
    width: 410px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-header{
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
    margin-top: 0;
}

.second-deal{
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
    margin-top: 0;
}

.second-description{
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 0;
    margin-bottom: 48px;
}

.second > img{
    width: 100%;
}

/* Third Container styles */

.third{
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin: 120px 140px 0px 140px;
}

.third-first-container{
    display: flex;
    width: 1320px;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    background-image:linear-gradient(to right, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
}

.third-second-container{
    max-width: 697px;
    display: flex;
    flex-direction: column;
}

.third-header{
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 88px;
    line-gap-override: 11%;
    color: #FFFFFF;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 24px;
}

.third-paragraph{
    width: 100%;
    font-family: 'inter', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 48px;
}

.third-btn{
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 32px;
    margin-top: 0px;
}


.third-second-container > img{
    width: 320px;
    height: 465px;
}

/* Fourth Container styles */

.fourth {
    display: flex;
    position: relative;
    width: 1320px;
    height: 482px;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 120px 140px 0px 140px;
}

.fourth-container, .fourth-container-two {
    position: absolute;
}

.fourth-container {
    display: flex;
    width: 1320px;
    height: 482px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 100%);
    top: 50px;
    border-radius: 16px;
    opacity: 0.1;
}

.fourth-container-two{
    display: flex;
    flex-direction: column;
    width: 549px;
    height: 272px;
    justify-content: center;
    align-items: center;
}

.fourth-place{
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 0px;
    line-height: 56px;
}

.fourth-container-two .btn{
    background-color: #FF0000;
    border-radius: 8px;
    border-style: none;
    margin-top: 48px;
    color: #FFFFFF;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 20px;
}

/* Fifth Section styles */

.fifth{
    display: flex;
    width: 1320px;
    height: 482px;
    justify-content: space-between;
    align-items: center;
}

.fifth > img{
    width: 365px;
    height: 365px;
    border: 16px solid #FF0000;
    border-radius: 50%;
    padding: 30px;
}

.fifth-container{
    width: 393px;
    height: 255px;
    margin-top: 104px;
    margin-bottom: 104px;
}

.fifth-first-header{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin: 0px;
}

.fifth-second-header{
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}

.fifth-first-paragraph{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #070211;
    opacity: 0.6;
}

.fifth-second-container-header{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #FF0000;
    margin-bottom: 16px;
}

.fifth-second-container-paragraph{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #070211;
    opacity: 0.6;
    margin: 0px;
}

.fifth-second-container{
    width: 276px;
    margin-left: 118px;
    margin-top: 112px;
}

.fifth-second-container > img{
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

/* Sixth Section styles */

.sixth{
    display: flex;
    flex-direction: column;
    width: 1320px;
    background-image: url('../images/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 120px;
}

.sixth-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sixth-first-header{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    margin: 0px;
}

.sixth-second-header{
    font-family: 'Merriweather', sans-serif;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0px 0px 0px;
}

.sixth-first-paragraph{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #070211;
    opacity: 0.6;
    margin: 28px 0px 0px 0px;
    text-align: center;
    width: 1068px;
}

.sixth-container-two{
    margin-top: 64px;
}

.sticker{
    margin: 0px 10px 250px 170px;
}

/* Seventh Section styles */

.seventh{
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin-top: 120px;
    margin-bottom: 0px;
}

.seventh-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.seventh-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}


.seventh h3{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
    text-align: left;
    margin: 0px;
}

.seventh h1{
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    text-align: left;
    margin: 16px 0px 0px 0px;
}

.seventh p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    color: #070211;
    opacity: 0.6;
    margin: 22px 0px 0px 0px;
    width: 896px;
}

/* Eighth Section styles */


.eighth{
    width: 1320px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px 0px 0px 0px;
}

.eighth-container{
    display: flex;
    width: 896px;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.eighth-photo{

}

.eighth-header{
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}

.eighth-paragraph{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #070211;
    opacity: 0.6;
}

.eighth-second-container {
    display: flex;
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 48px;
}

.email-section {
    flex: 1; /* Makes input take most of the width */
    padding: 0 20px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
    background-color: white;
}

.Subscriber-btn {
    background-color: red;
    width: 210px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0 30px; /* Adjust padding for button size */
    border-radius: 0px 50px 50px 0px;
    transition: 0.3s ease-in-out;
}

.Subscriber-btn:hover {
    background-color: darkred;
}
